.image-set {
	@extend %list;
	@include flex();
	margin: 0 -15px;
}

.image-set__item {
	margin: 15px;
	position: relative;
}

.image-set__title {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	color: $light-font;
	@include flex(center, center);
	background-color: $bg-color;
	opacity: 0.8;
	margin: 0;
	text-transform: uppercase;
}

.image-set__link {
	@extend %link;
	color: $icon-fill;
	border: 1px solid $icon-fill;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	transition: border 250ms $time-func, color 250ms $time-func;

	&:hover {
		color: $accent-color;
		border: 1px solid $accent-color;
		outline: none;
	}
}