.logo {
	@extend %link;
	font-family: $logo-font;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.174;
	color: $accent-color;
	letter-spacing: calc(26px * 0.03);
	padding: 24px 0;
}

.logo__subtext {
	color: $dark-font;
}
.logo__subtext--white {
	color: $light-font;
}