$accent-color:#2196F3;
$accent-hover:#188CE8;
$dark-font: #000000;
$dark-bg:#00000033;
$light-font:#ffffff;
$lightness-back:#f5f4fa;
$font-color:#212121;
$contact-color:#757575;
$bg-color:#2F303A;
$footer-link:rgba(255, 255, 255, 0.6);
$footer-soclink:rgba(255, 255, 255, 0.1);
$icon-fill: #afb1b8;
$time-func:cubic-bezier(0.4, 0, 0.2, 1);
$logo-font:"Raleway",sans-serif;
$main-font: "Roboto",sans-serif;